<h1><%= @page_title %></h1>
<p>this is About view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view this is about view.</p>

